body{
    background-color: rgb(230, 215, 196);
}
.title{
    text-align: center;
    color:rgb(112, 63, 20)
}
.thaiImg,
.bulImg{
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bulImg{
    width: 500px;
}

.thaiImg{
    width: 330px;
}

h3{
    color: rgb(112, 63, 20);
    margin-left: 150px;
}

p, li{
    color: rgb(115, 69, 30);
    margin-right: 200px;
    margin-left: 200px;
}

a{
    margin-left: 150px;
}

